# Ignore Arduino build artifacts
build/
.pio/
*.bin
*.elf
*.hex
*.eep
*.dmp
*.o
*.d
*.map
*.a
*.lst

# Ignore IDE and system files
.vscode/
.DS_Store

# Ignore credentials and private keys
credentials.h
credentials/
*.pem
*.crt
*.key
